<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="container mb-3">
            <h2 class="text-center">User Login</h2>
        </div>
        <div class="col-6 offset-3">
            <form action="/login" method="POST" novalidate class="needs-validation">

                <div class="container mt-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid username.
                    </div>
                </div>
                <div class="container mt-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid password.
                    </div>
                </div>
                <div class="container mt-4">
                    <button class="btn btn-success">Login</button>
                </div>
            </form>
            <div class="container mt-4 mb-4">
                <a href="/register">Register</a>
                <br />
                <a href="/">Back to Home Page</a>
            </div>
        </div>

    </div>